.repo-list-item {
  width: 30%;
  margin: 1%;
  border: none;
  border-radius: 20px;
  background-color: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.avatar {
  width: 30%;
  height: auto;
  align-self: center;
  border-radius: 50%;
  margin-top: 5%;
}
.icon {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 20%;
}
.star {
  display: flex;
  justify-content: center;
}
