.active {
  border-width: 2px;
  border: 1px #0284c7 solid;
  border-radius: 20px;
  color: #0284c7;
  background-color: transparent;
  padding: 10px;
  width: 70%;
  margin: 1%;
  max-height: 40px;
}
.list-item {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-width: 0px;
}
